{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Вход - VidShare{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header text-center">
                <h3><i class="fab fa-youtube text-danger"></i> VidShare</h3>
                <h5>Вход в аккаунт</h5>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block w-100" type="submit">Войти</button>
                    </div>
                </form>
                <div class="border-top pt-3 text-center">
                    <small class="text-muted">
                        Нет аккаунта? <a class="ml-2" href="{% url 'register' %}">Зарегистрироваться</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}